.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
    overflow: scroll;
    max-height: 85%;
}

.task {
    height: 250px;
    background-color: #cecece2d;
}